:root {
    touch-action: pan-x pan-y;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    img {
        height: 20px;
        width: 20px;
    }
}

.emojisal {
    display: flex;
    flex-wrap: inherit;
}

body {
    touch-action: manipulation;
}

body {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
}

img {
    height: 30px;
    width: 30px;
}

#wrapper {
    position: absolute;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    /* display: none; */
    /* width: 27.455121436114045vh; */
}

button {}

.container-fluid {
    width: 100% !important;
    height: 100% !important;
}

.row {
    width: 100% !important;
    height: 100% !important;
}

div iframe {
    width: 100% !important;
    height: 100% !important;
}